* {
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
header ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to right, rgb(137, 196, 82) 0%, rgb(126, 194, 62) 45%, rgb(144, 175, 57) 100%);
}
header ul li {
  float: right;
}
header ul li a {
  display: block;
  padding: 0.5em;
  border: 1px solid;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 1em;
  margin-right: 1em;
  cursor: pointer;
}
header ul li::after {
  display: none;
}
header ul li i {
  display: block;
  margin: 0.5em;
}
header ul li .button_navbar:hover {
  background-color: #fff;
  color: rgb(144, 175, 57) !important;
}
header ul li .active {
  background-color: #fff;
  color: rgb(144, 175, 57) !important;
}
ul {
  list-style-type: none;
}
ul li:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #666;
}
ul li:last-child::after {
  display: none;
}
.cards_in_card .card:last-child {
  margin-bottom: 0 !important;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.profile_presentation {
  background: linear-gradient(to right, rgb(137, 196, 82) 0%, rgb(126, 194, 62) 45%, rgb(144, 175, 57) 100%);
  padding: 1em 2em;
}
.profile_pic {
  border-radius: 50%;
  width: 10em;
}
.white_text {
  color: #fff !important;
}
.adjust_contact_icon {
  margin-right: 0.5em;
}
.adjust_contact_title {
  margin-top: -0.2em;
  margin-bottom: 0.5em;
}
.adjust_spss_icon {
  margin-right: 0.8em;
}
.text_align_center {
  text-align: center;
}
.section_muted {
  background-color: #f8f8f8;
}
.card {
  background-color: #fff;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  color: #666;
}
.card-title {
  margin-top: 0.5em;
}
.card-items {
  padding: 1em;
  text-align: justify;
}
.cards_in_card {
  padding: 0.5em !important;
}
.contact_pic {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}
.contact_description {
  margin-top: 0.5em;
}
.contact_name {
  font-weight: bold;
  color: #666;
}
.icon {
  width: 1.7em;
}
.sub_section_title {
  font-size: 1.3em;
}
.small_top_bottom_margin {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
.icon_la_salle {
  width: 13em;
}
.icon_ito {
  width: 8em;
}
.icon_inegi {
  width: 7.5em;
}
@media(min-width: 768px) {
  .adjust_contact_information {
    margin-left: -1.5em;
  }
  .separate_card_left {
    margin-left: 0.5em;
  }
  .separate_card_right {
    margin-right: 0.5em;
  }
  .adjust_presentation {
    margin-top: -3.25em;
  }
  .in_mobile {
    display: none;
  }
}
@media(max-width: 768px) {
  .in_desktop {
    display: none;
  }
  .adjust_presentation {
    margin-top: -4em;
  }
  .sidebar_hide {
    position: fixed;
    height: 100%;
    width: 30%;
    top: 0;
    right: -100%;
    background-color: rgba(0,0,0,0.4);
    transition: 1s;
  }
  .sidebar_hide_open {
    right: 70%;
  }
  .sidebar {
  position: fixed;
  height: 100%;
  width: 70%;
  background-color: #fff;
  top: 0;
  transition: 1s;
  right: -100%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  }
  .sidebar_open {
    right: 0;
  }
  .sidebar_item {
    font-size: 2em;
    padding: 0.3em;
  }
  .sidebar_content {
    margin: 1em;
  }
  .block_overflow {
    overflow: hidden;
  }
  .allow_overflow {
    overflow: auto;
  }
}